<a href="https://colab.research.google.com/github/sreekanth-ai/ML_content/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas stands for panel data and is the core library for data manipulation and data analysis

It consists of single and multi dimensional data structures of daat manupulation

single - Series object

multi - Data frame

In [1]:
#series pandas

import pandas as pd

In [13]:
s = pd.Series([1,2,34,5,6],index = ['a','b','c','d','@'])

In [14]:
s

a     1
b     2
c    34
d     5
@     6
dtype: int64

In [15]:
s1 = pd.Series([1,2,34,5,6])

In [17]:
s1

0     1
1     2
2    34
3     5
4     6
dtype: int64

In [18]:
type(s)

pandas.core.series.Series

In [19]:
type(s1)

pandas.core.series.Series

In [20]:
s2 = pd.Series({'a1':10,'a2':30,'a3':40})

In [21]:
s2

a1    10
a2    30
a3    40
dtype: int64

In [23]:
s3 = pd.Series({'a1':10,'a2':30,'a3':40},index =['a1','a2','a13','a4','a3'])
s3

a1     10.0
a2     30.0
a13     NaN
a4      NaN
a3     40.0
dtype: float64

In [27]:
s4 = pd.Series([1,2,3,4,56,6,7])
print(s4[3])
print(s4[:-1])
print(s4[:])
print(s4[::-1])
print(s4*10)

4
0     1
1     2
2     3
3     4
4    56
5     6
dtype: int64
0     1
1     2
2     3
3     4
4    56
5     6
6     7
dtype: int64
6     7
5     6
4    56
3     4
2     3
1     2
0     1
dtype: int64
0     10
1     20
2     30
3     40
4    560
5     60
6     70
dtype: int64

In [29]:
s4 + s4[:-1]

0      2.0
1      4.0
2      6.0
3      8.0
4    112.0
5     12.0
6      NaN
dtype: float64

In [30]:
#DataFrame

In [31]:
d = pd.DataFrame({'name':['sree','dhanam','pooji'],'marks':[50,60,70]})

In [32]:
d

     name  marks
0    sree     50
1  dhanam     60
2   pooji     70

In [33]:
type(d)

pandas.core.frame.DataFrame

In [34]:
d1 = pd.read_csv("/content/drive/MyDrive/diabetes.csv")

In [35]:
d1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [36]:
d1.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [38]:
d1.shape

(768, 9)

In [39]:
d1.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [40]:
d1['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [41]:
d1.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [44]:
d1.iloc[30:40,3:]

    SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Age  Outcome
30             26        0  36.0                     0.546   60        0
31             36      245  31.6                     0.851   28        1
32             11       54  24.8                     0.267   22        0
33              0        0  19.9                     0.188   28        0
34             31        0  27.6                     0.512   45        0
35             33      192  24.0                     0.966   33        0
36              0        0  33.2                     0.420   35        0
37             37        0  32.9                     0.665   46        1
38             42        0  38.2                     0.503   27        1
39             47      207  37.1                     1.390   56        1

In [48]:
d1.iloc[3:10,0:2]

   Pregnancies  Glucose
3            1       89
4            0      137
5            5      116
6            3       78
7           10      115
8            2      197
9            8      125

In [52]:
d1.loc[30:40,('Glucose','Outcome')]

    Glucose  Outcome
30      109        0
31      158        1
32       88        0
33       92        0
34      122        0
35      103        0
36      138        0
37      102        1
38       90        1
39      111        1
40      180        0

In [54]:
d2 = d1.drop('DiabetesPedigreeFunction',axis=1)

In [56]:
d2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,6,148,72,35,0,33.6,50,1
1,1,85,66,29,0,26.6,31,0
2,8,183,64,0,0,23.3,32,1
3,1,89,66,23,94,28.1,21,0
4,0,137,40,35,168,43.1,33,1

In [58]:
d3 = d2.drop([0],axis=0)

In [59]:
d3.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
1,1,85,66,29,0,26.6,31,0
2,8,183,64,0,0,23.3,32,1
3,1,89,66,23,94,28.1,21,0
4,0,137,40,35,168,43.1,33,1
5,5,116,74,0,0,25.6,30,0

In [60]:
d1.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [61]:
d1.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [62]:
d1.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64